@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
  background: #fe615a;
  color: #eef4dc;
  height: 100vw;
}

h1 {
  font-family: 'Russo One', sans-serif;
}

h2 {
  font-family: 'PT Sans', sans-serif;
}

.center {
  @apply flex items-center justify-center;
}
